<footer class="footer">
  <div class="container">
    <p class="footer-desc">
      Made with ✨ by
      <a
        class="footer-link"
        href="https://goit.global/ua/"
        target="_blank"
        rel="noopener noreferrer"
      >
        GoIT team
      </a>
    </p>
    <address class="address">
    <!-- Українською: Контактна інформація / English: Contact Information -->
               <ul class="contacts-list">
            <!-- Українською: Ненумерований список / English: Unordered List -->
            <li class="contacts-item">
              <!-- Українською: Елемент списку / English: List item -->
              <a
                class="contacts-link"
                href="mailto:info@devstudio.com"
                target="_blank"
                rel="noopener">
                <!-- Українською: Гіперпосилання / English: Hyperlink -->
                info@devstudio.com
              </a>
            </li>
            <li class="contacts-item">
              <!-- Українською: Елемент списку / English: List item -->
              <a class="contacts-link" href="tel:+110001111111" target="_blank" rel="noopener">
                <!-- Українською: Гіперпосилання / English: Hyperlink -->
                +11 (000) 111-11-11
              </a>
            </li>
          </ul>
    </address>
  </div>
</footer>
